a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}


body{
    animation-name: Color;
animation-duration: 3s;
animation-iteration-count: infinite;
font-family: 'Century Gothic', sans-serif;
}

.container{

text-align: center;
border-top-color : red; 
}

p{
font-size: xx-large;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-style: italic;
padding: 15%;
}


#corazon{ 

animation-name: Tamaño;
animation-duration: 2s;
animation-iteration-count: infinite;

}
#yes{

width: 90px;
height: 90px;
transform: translate(-100%,0);
}

#no{

width: 90px;
height: 90px;
position: absolute;
}
@keyframes Tamaño{
0%{transform: scale(1);
color: #F8E0E0;}
50%{transform: scale(3);
color: #FF0000;}
100%{transform: scale(1);
color: #F8E0E0;}

}
@keyframes Color{
0%{background-color: #CEF6F5;}
50%{background-color: #2EFEF7}
100%{background-color: #CEF6F5}
}